list{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: lightgrey;
    width: auto;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.card
{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    width: auto;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    background-color: antiquewhite;
}

.card:focus-within{
    transform: scale(1.05);
    background-color: burlywood;
}
.card:hover{
    transform: scale(1.05);

}
.center {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 16px;
    width: 250px;
    padding: 10px;
    margin: 0;
}
.right{

    margin: auto;
    width: 10%;
    text-align: right;
    padding: 10px;
}

.left{

    margin: auto;
    width: 20%;
    text-align: left;
    padding: 1px;
}

.button{
    border: 1px solid green;
    border-radius: 8px;
    /*width: auto;*/
    margin: 0;
}
::-webkit-scrollbar{
    width:0;
    background: transparent;
}
.clist{
    overflow-y:auto;
    overflow-x:hidden;
    height:calc(100vh - 100px);
    /*display:inline-block;*/
}



